* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("https://www.pbs.org/wgbh/nova/media/images/bfcppfu.width-800.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

h1 {
    color: white;
    margin: 0 auto;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

body {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    background-color: rgb(255, 183, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    align-items: center;
    margin: auto auto;
}

ul li {
    border: 1px solid teal;
    border-radius: 5px;
    width: 170px;
    list-style: none;
    margin: 0 auto;
    margin-top: 8px;
    background-color: teal;
}

ul li:hover {
    background-color: rgb(171, 255, 154);
}

#content {
    margin: 200px;
}

.endtext {
    margin: 200px;
    font-size: 58px;
}

.prequiz {
    margin: 20px;
    width: 400px;
    height: 30px;
}

.prebutton {
    display: block;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 22px;
    background-color: rgb(255, 254, 174);
}

.prebutton:hover {
    background-color: rgb(203, 255, 155);
}

#timer {
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 50px;
    font-size: 40px;
}