* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("https://www.pbs.org/wgbh/nova/media/images/bfcppfu.width-800.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

h1 {
    color: white;
    margin: 0 auto;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

body {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    background-color: violet;
}

ul {
    align-items: center;
    margin: auto auto;
}

ul li {
    border: 1px solid teal;
    border-radius: 5px;
    width: 170px;
    list-style: none;
    margin: 0 auto;
    margin-top: 8px;
}

ul li:hover {
    border-color: red;
}

